Repository RStaff/staffordmedia-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

fix(layout): JSX img → className + numeric width/height (abando logo)
  _smc_clean/app/layout.tsx
Due: none

fix(next): use CommonJS _smc_clean/next.config.js; drop .mjs
  _smc_clean/next.config.js
Due: none

Fix: remove ESM next.config.mjs; use CJS next.config.js for Render (#77)
  _smc_clean/next.config.js
  _smc_clean/next.config.mjs
Due: none

fix: unblock Render (valid <img> attrs in layout, use CJS next.config)
  _smc_clean/app/layout.tsx
  _smc_clean/next.config.js
Due: none

chore: trigger Render deploy via ping.txt (no code changes)
  _smc_clean/public/ping.txt
  public/ping.txt
Due: none

fix(layout): normalize <img> attrs (className + numeric width/height) and use /abando-logo.png
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
  public/ping.txt
Due: none

Fix layout <img> attrs + use PNG logo (#80)
  _smc_clean/app/layout.tsx
Due: none

chore: touch ping.txt to redeploy main
  _smc_clean/public/ping.txt
  public/ping.txt
Due: none

ci: add dedicated _smc_clean workflow (cache/build/artifact) + ping.txt
  .github/workflows/ci_smc.yml
  _smc_clean/public/ping.txt
  public/ping.txt
Due: none

CI: dedicated _smc_clean workflow (cache/build/artifact) (#82)
  .github/workflows/ci_smc.yml
  _smc_clean/public/ping.txt
  public/ping.txt
Due: none

fix(layout): normalize <img> attrs (className + numeric width/height, dedupe) and use /abando-logo.png
  _smc_clean/app/layout.tsx
Due: none

fix(layout): normalize <img> attrs (className + numeric width/height, dedupe) and use /abando-logo.png (#83)
  _smc_clean/app/layout.tsx
Due: none

fix: normalize SMC logo to /smc-logo.png and JSX-safe <img> attrs
  _smc_clean/app/abando/page.tsx
  _smc_clean/app/layout.tsx
  _smc_clean/next.config.js
  apps/website/app/analytics/Analytics.tsx
  src/components/Header.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

fix: normalize SMC logo to /smc-logo.png and JSX-safe <img> attrs (#84)
  _smc_clean/app/abando/page.tsx
  _smc_clean/app/layout.tsx
  _smc_clean/next.config.js
  apps/website/app/analytics/Analytics.tsx
  src/components/Header.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

branding: replace SMC logo (no green) and ensure /smc-logo.png asset exists
  _smc_clean/public/ping.txt
  _smc_clean/public/smc-logo.png
  public/smc-logo.png
Due: none

Branding: update SMC logo (no green) (#85)
  _smc_clean/public/ping.txt
  _smc_clean/public/smc-logo.png
  public/smc-logo.png
Due: none

branding: replace SMC logo with correct PNG; normalize references + safe <img>
  _smc_clean/public/ping.txt
  _smc_clean/public/smc-logo.png
  public/smc-logo.png
Due: none

Branding: update SMC logo (PNG) + normalize references (#86)
  _smc_clean/public/ping.txt
  _smc_clean/public/smc-logo.png
  public/smc-logo.png
Due: none

branding: ensure correct SMC & Abando logos + normalize refs (idempotent)
  _smc_clean/app/abando/page.tsx
  _smc_clean/public/ping.txt
  src/components/AbandoTitle.tsx
Due: none

branding: ensure correct SMC & Abando logos + normalize refs (idempotent) (#87)
  _smc_clean/app/abando/page.tsx
  _smc_clean/public/ping.txt
  src/components/AbandoTitle.tsx
Due: none

style: make SMC logo visible on light header; ensure className; clean img props
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

style: make SMC logo visible on light header; ensure className; clean img props (#88)
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

fix(layout): correct <body> className quoting and self-close SMC <img />
  _smc_clean/app/layout.tsx
Due: none

ci+layout: fix <body> className + <img/> typo; add scoped CSS; add CI for _smc_clean
  .github/workflows/ci_smc.yml
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

ci+layout: fix <body> className + <img/> typo; add scoped CSS; add CI for _smc_clean (#90)
  .github/workflows/ci_smc.yml
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

fix(layout): clean header <Link> block + body className; self-close logo img; add scoped CSS
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

fix(layout): clean header <Link> block + body className; self-close logo img; add scoped CSS (#91)
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

fix(logo): robust JSX cleanup + neutralize CSS; ensure asset; ping bump
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

fix(logo): robust JSX cleanup + neutralize CSS; ensure asset; ping bump (#92)
  _smc_clean/app/globals.css
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: prettier --write

feat(header): serve logo via next/image (bundled) to bypass /smc-logo.png redirect loop
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: none

feat(header): serve logo via next/image (bundled) to bypass /smc-logo.png redirect loop (#93)
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: none

fix(logo): force header to /smc-logo.v2.png via next/image (unoptimized); drop old imports/preloads; cache bump
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: none

fix(logo): use /smc-logo.v2.png (unoptimized); quarantine bad png; standalone build
  _smc_clean/app/layout.tsx
  _smc_clean/public/smc-logo.png.QUARANTINE_DO_NOT_USE
Due: none

fix(logo): use /smc-logo.v2.png (unoptimized); quarantine bad png; standalone build (#95)
  _smc_clean/app/layout.tsx
  _smc_clean/public/smc-logo.png.QUARANTINE_DO_NOT_USE
Due: none

fix(layout): use plain <img> for /smc-logo.v2.png; ensure standalone; disable Next image processing
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: none

fix(layout): clean <img> tag (no stray '/ /'), force /smc-logo.v2.png; next.config standalone+unoptimized; cache bump
  _smc_clean/app/layout.tsx
  _smc_clean/public/ping.txt
Due: none

Path conditions:
  eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix: any of: apps/website/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{json,md,css}
