Repository RStaff/staffordmedia-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

chore: make @/* resolve src/* and /*; ensure src/app/globals.css
  src/app/globals.css
  tsconfig.json
Due: prettier --write

chore: unblock deploy — alias @/*, add globals.css, stub AbandoTitle & HeroBadgeKiller
  src/app/globals.css
  tsconfig.json
Due: prettier --write

chore: unblock deploy — alias @/*, add globals.css, stub AbandoTitle & HeroBadgeKiller (#11)
  src/app/globals.css
  tsconfig.json
Due: prettier --write

ci: deploy from apps/website + add @/* alias + stub config.ts
  .github/workflows/deploy.yml
  apps/website/src/app/globals.css
  apps/website/tsconfig.json
Due: prettier --write

ci: deploy from apps/website + add @/* alias + stub config.ts (#12)
  .github/workflows/deploy.yml
  apps/website/src/app/globals.css
  apps/website/tsconfig.json
Due: prettier --write

fix(app): ensure @ alias + src/lib/config + globals.css (no-manual-edits)
  apps/website/lib/config.ts
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

ci(deploy): restore root Deploy workflow & monorepo-safe Next config (no-manual-edits)
  .github/workflows/deploy.yml
  apps/website/lib/config.ts
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

ci(deploy): restore root Deploy workflow & monorepo-safe Next config (no-manual-edits) (#13)
  .github/workflows/deploy.yml
  apps/website/lib/config.ts
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

ci(deploy): use Node 20 LTS on Actions (check-latest true)
  .github/workflows/deploy.yml
Due: none

ci(deploy): use Node 20 LTS on Actions (check-latest true) (#14)
  .github/workflows/deploy.yml
Due: none

ci(deploy): rewrite Deploy workflow + monorepo-safe Next config (root-cause hardening)
  .github/workflows/deploy.yml
Due: none

ci(deploy): rewrite Deploy workflow + monorepo-safe Next config (root-cause hardening) (#15)
  .github/workflows/deploy.yml
Due: none

ci(deploy): rewrite Deploy workflow (Node 20, monorepo-aware, Vercel prebuilt)
  .github/workflows/deploy.yml
Due: none

ci(deploy): rewrite Deploy workflow (Node 20, monorepo-aware, Vercel prebuilt) (#16)
  .github/workflows/deploy.yml
Due: none

ci(deploy): replace with minimal, valid Node 20 workflow
  .github/workflows/deploy.yml
Due: none

ci(deploy): use runner Node; remove setup-node; robust Vercel deploy
  .github/workflows/deploy.yml
Due: none

ci(deploy): remove cache-dependency-path (lockfile not present) to prevent setup-node failure
  .github/workflows/deploy.yml
Due: none

ci(deploy): remove cache-dependency-path (lockfile not present) so setup-node doesn’t fail
  .github/workflows/deploy.yml
Due: none

ci(deploy): remove cache-dependency-path (lockfile not present) so setup-node doesn’t fail (#20)
  .github/workflows/deploy.yml
Due: none

ci: disable auto Deploy workflow (use Vercel Git integration)
  .github/workflows/deploy.yml
Due: none

website: add vitest/jest-dom types so typecheck passes
  apps/website/components/Pricing.tsx
  apps/website/lib/config.ts
  apps/website/tsconfig.json
  package-lock.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

website: add vitest/jest-dom types so typecheck passes (#22)
  apps/website/components/Pricing.tsx
  apps/website/lib/config.ts
  apps/website/tsconfig.json
  package-lock.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

website: add /api/status and cross-linked robots/sitemap (ACAO=*)
  apps/website/app/api/status/route.ts
  apps/website/public/robots.txt
  apps/website/public/sitemap.xml
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

chore/status and sitemaps stafford (#23)
  apps/website/app/api/status/route.ts
  apps/website/public/robots.txt
  apps/website/public/sitemap.xml
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

abando: add /api/status, robots, sitemap, and CORS for Stafford
  abando-align.sh
  apps/website/.eslintcache
  apps/website/app/api/status/route.ts
  apps/website/public/robots.txt
  apps/website/public/sitemap.xml
  apps/website/tsconfig.json
  smc-abando-diagnose.sh
  tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

smc: durable /api/status, SEO, canonical host, CI diag
  .github/workflows/smc-diagnostics.yml
  apps/website/app/api/status/route.ts
  apps/website/next.config.ts
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

smc: durable /api/status, SEO, canonical host, CI diag (#25)
  .github/workflows/smc-diagnostics.yml
  apps/website/app/api/status/route.ts
  apps/website/next.config.ts
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

chore: add alignment schema + contract
  alignment.json
  alignment.schema.json
Due: prettier --write

smc: status/robots/sitemap + OPTIONS + alignment contract + CI validate
  .github/workflows/smc-align-validate.yml
  alignment.json
  alignment.schema.json
  apps/website/app/api/status/route.ts
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

smc: status/robots/sitemap + OPTIONS + alignment contract + CI validate (#26)
  .github/workflows/smc-align-validate.yml
  alignment.json
  alignment.schema.json
  apps/website/app/api/status/route.ts
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

smc: add OPTIONS preflight to /api/status + npm stability + ignore caches
  .gitignore
  .npmrc
  apps/website/.eslintcache
  smc-cors-lock.sh
  smc-validate.sh
Due: none

smc: add OPTIONS preflight to /api/status + npm stability + ignore caches (#27)
  .gitignore
  .npmrc
  apps/website/.eslintcache
  smc-cors-lock.sh
  smc-validate.sh
Due: none

smc: ESLint v9 stable (envs+globals, warnings), ignore .next; keep build green
  .eslintignore
  .lint-files.txt
  01-smc-fix-and-guard.sh
  01-smc-global-options.sh
  01-smc-lint-slim-and-guard.sh
  01-smc-lint-slim-and-guard.v2.sh
  01-smc-lint-slim-and-guard.v3.sh
  01b-smc-eslint-v9-globals.sh
  01c-smc-eslint-v9-stable.sh
  04-verify-live.sh
  apps/website/.eslintcache
  apps/website/app/api/status/route.ts
  apps/website/middleware.ts
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

smc: ESLint v9 stable (globals + warnings), pre-push skips vitest (mac ARM rollup bug), keep build green
  01c-smc-eslint-and-prepush-hotfix.sh
  apps/website/.eslintcache
  eslint.config.js
Due: none

chore: restore optional rollup binary; tame pre-push
  package-lock.json
Due: prettier --write

smc: use www.abando.ai for backend API base
  apps/website/.eslintcache
  apps/website/src/lib/abando.ts
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

Add _smc_clean standalone Next.js app for Render
  .gitignore
  app/globals.css
  app/layout.tsx
  app/page.tsx
  apps/website/next.config.mjs
  apps/website/package.json.backup.1760019891
  next.config.mjs
  package.json.backup.1760018781
  package.json.backup.1760019891
  package.json.backup.1760045798
  postcss.config.cjs
  tailwind.config.cjs
Due: prettier --write

Add _smc_clean standalone Next.js app for Render
  .gitignore
Due: none

Add _smc_clean standalone Next.js app
  .gitignore
Due: none

ci: add passing root test to satisfy workflow
  package.json
Due: prettier --write

Path conditions:
  eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix: any of: apps/website/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{json,md,css}
