Repository RStaff/staffordmedia-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

.lintstagedrc.json:

{
  "apps/website/**/*.{ts,tsx,js,jsx}": "eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix",
  "**/*.{json,md,css}": "prettier --write"
}

abando: use configured logo (NEXT_PUBLIC_ABANDO_LOGO); remove incorrect fallback svg
  _smc_clean/components/HomeAbandoSection.tsx
  _smc_clean/public/logos/abando.svg
Due: none

home: add Abando teaser (env-configurable, no wrong svg)
  _smc_clean/app/page.tsx
  _smc_clean/components/HomeAbandoSection.tsx
Due: none

home: add Abando teaser (env-configurable, no wrong svg) (#121)
  _smc_clean/app/page.tsx
  _smc_clean/components/HomeAbandoSection.tsx
Due: none

fix: wrap homepage return in fragment so injected teaser is valid JSX
  _smc_clean/app/page.tsx
Due: none

fix(home): harden page.tsx—ensure fragment; insert single Abando block inside return (after <main> when present)
  _smc_clean/app/page.tsx
Due: none

home: canonicalize JSX return—fragment + single Abando block; import ensured
  _smc_clean/app/page.tsx
Due: none

revert: remove managed Abando teaser block (restore valid JSX)
  _smc_clean/app/page.tsx
Due: none

home: wrap JSX in fragment and place single Abando block safely
  _smc_clean/app/page.tsx
Due: none

revert(home): remove managed Abando teaser to restore valid JSX
  _smc_clean/app/page.tsx
Due: none

fix(home): normalize fragment in return()—remove stray '<>' and ensure single closing '</>'
  _smc_clean/app/page.tsx
Due: none

fix(home): remove managed Abando block; drop unused import
  _smc_clean/app/page.tsx
Due: none

fix(home): remove managed Abando block; drop unused import (#130)
  _smc_clean/app/page.tsx
Due: none

fix(home): remove dangling HomeAbandoSection import; strip managed markers
  _smc_clean/app/page.tsx
Due: none

Fix: remove dangling Abando import on homepage (#131)
  _smc_clean/app/page.tsx
Due: none

Fix React Server Components CVE vulnerabilities
  _smc_clean/package-lock.json
  _smc_clean/package.json
  apps/website/package.json
Due: prettier --write

ci: add build:prod alias and make CI build step tolerant
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: add next/react/react-dom to dependencies so build has Next available in CI
  package-lock.json
  package.json
Due: prettier --write

Render: bind to $PORT; pin React 18.3.1; set Node engines
  package-lock.json
  package.json
Due: prettier --write

chore(website): rewrite package.json for Render (Next 15 + React 18, engines, $PORT)
  apps/website/package-lock.json
Due: prettier --write

chore(seo): correct robots.txt and add minimal sitemap.xml
  public/robots.txt
  public/sitemap.xml
Due: none

chore: add deploy probe
  apps/website/public/sitemap.xml
  public/deploy-probe.txt
Due: none

feat(site): About + Services + Pricing pages (drop-in)
  apps/website/app/about/page.tsx
  apps/website/app/pricing/page.tsx
  apps/website/app/services/page.tsx
  apps/website/components/Pricing.tsx
  apps/website/lib/config.ts
  apps/website/public/sitemap.xml
  bind_result_page_to_engine_payload.txt
  dripaccessory_404_truth_audit.txt
  fix_updated_at_type_and_resmoke.txt
  repair_pricing_import_chain.txt
  root_build_blocker_audit.txt
  shopifixer_route_owner_audit_real_candidate.txt
  website_preview_vs_prod_truth_check.txt
  website_prod_truth_repair.txt
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

feat(site): About/Services/Pricing + config (auto)
  apps/website/.env.example
  next.config.cjs
  playwright-report/data/27d238128a54a84c8df046de9b6967ce91c7e8f3.zip
  playwright-report/data/c2c45d29c0b48fe5261aea0e00d50341657a57ee.zip
  playwright-report/index.html
  playwright-report/trace/assets/codeMirrorModule-CEFqZ5b3.js
  playwright-report/trace/assets/defaultSettingsView-BA25Usqk.js
  playwright-report/trace/codeMirrorModule.C3UTv-Ge.css
  playwright-report/trace/codicon.DCmgc-ay.ttf
  playwright-report/trace/defaultSettingsView.DVJHpiGt.css
  playwright-report/trace/index.BFsek2M6.css
  playwright-report/trace/index.CheexZ4_.js
  playwright-report/trace/index.html
  playwright-report/trace/playwright-logo.svg
  playwright-report/trace/snapshot.html
  playwright-report/trace/sw.bundle.js
  playwright-report/trace/uiMode.BatfzHMG.css
  playwright-report/trace/uiMode.Dy4dnPNW.js
  playwright-report/trace/uiMode.html
  playwright-report/trace/xtermModule.Beg8tuEN.css
  public/deploy-probe.txt
  staffordmediaconsulting.onrender.com
  test-results/hero-hero-art-removed-and-Abando-logo-inline-with-name-chromium/trace.zip
  test-results/layout-Right-column-cards--b8701-ds-right-mobile-cards-stack-chromium/trace.zip
Due: prettier --write

seo: App Router robots + sitemap for staffordmedia.ai
  apps/website/app/robots.ts
  apps/website/app/sitemap.ts
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

seo: serve robots.txt & sitemap via App Router (remove static files)
  apps/website/public/robots.txt
  apps/website/public/sitemap.xml
Due: none

chore(repo): ignore test artifacts
  .gitignore
  playwright-report/data/27d238128a54a84c8df046de9b6967ce91c7e8f3.zip
  playwright-report/data/c2c45d29c0b48fe5261aea0e00d50341657a57ee.zip
  playwright-report/index.html
  playwright-report/trace/assets/codeMirrorModule-CEFqZ5b3.js
  playwright-report/trace/assets/defaultSettingsView-BA25Usqk.js
  playwright-report/trace/codeMirrorModule.C3UTv-Ge.css
  playwright-report/trace/codicon.DCmgc-ay.ttf
  playwright-report/trace/defaultSettingsView.DVJHpiGt.css
  playwright-report/trace/index.BFsek2M6.css
  playwright-report/trace/index.CheexZ4_.js
  playwright-report/trace/index.html
  playwright-report/trace/playwright-logo.svg
  playwright-report/trace/snapshot.html
  playwright-report/trace/sw.bundle.js
  playwright-report/trace/uiMode.BatfzHMG.css
  playwright-report/trace/uiMode.Dy4dnPNW.js
  playwright-report/trace/uiMode.html
  playwright-report/trace/xtermModule.Beg8tuEN.css
  staffordmediaconsulting.onrender.com
  test-results/hero-hero-art-removed-and-Abando-logo-inline-with-name-chromium/trace.zip
  test-results/layout-Right-column-cards--b8701-ds-right-mobile-cards-stack-chromium/trace.zip
Due: prettier --write

feat(site): refined About/Services, inline Pricing (fix 404), app robots/sitemap, SITE_URL
  apps/website/.env.example
  apps/website/app/about/page.tsx
  apps/website/app/layout.tsx
  apps/website/app/pricing/page.tsx
  apps/website/app/robots.ts
  apps/website/app/services/page.tsx
  apps/website/app/sitemap.ts
  apps/website/components/Nav.tsx
  apps/website/lib/config.ts
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

fix(site): force-dynamic pricing; remove public robots/sitemap so app routes take over
  apps/website/app/pricing/page.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

site: add app-level robots/sitemap, cleanup overrides, confirm pricing freshness
  apps/website/app/robots.ts
  apps/website/app/sitemap.ts
  public/robots.txt
  public/sitemap.xml
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

site(src): add /pricing + robots/sitemap in Render-built app
  src/app/pricing/page.tsx
Due: none

fix(ci): add local tsconfig with @ alias for apps/website
  apps/website/tsconfig.json
Due: prettier --write

fix(ci): map @ alias to src/* in apps/website
  apps/website/tsconfig.json
Due: prettier --write

chore(website): add minimal Section component to satisfy @ alias
  apps/website/src/components/Section.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

fix(website): patch pricing flags for TS, align tsconfig + Section
  apps/website/app/pricing/page.tsx
  apps/website/src/components/Section.tsx
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write
