Repository RStaff/staffordmedia-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

fix(root+website): make @ alias resolve from root & apps; add fallback Section
  apps/website/tsconfig.json
  tsconfig.json
Due: prettier --write

chore(ci): sync package-lock.json with package.json for npm ci
  package-lock.json
Due: prettier --write

ci(build): run Next from apps/website; make app own next.config + @ alias
  .github/workflows/ci.yml
  apps/website/next.config.ts
  apps/website/tsconfig.json
  next.config.cjs
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

ci: install at repo root; scope Next build to apps/website (no working-directory on install)
  .github/workflows/ci.yml
Due: none

ci(next): install at repo root; build apps/website via --prefix; ensure app tsconfig/@ alias + Section
  .github/workflows/ci.yml
Due: none

fix(ts): enforce Bundler moduleResolution + robust @ paths; ensure Section fallback (root+app)
  apps/website/tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write

chore: generate workspace lockfile
  package-lock.json
Due: prettier --write

ci: remove nested lockfiles; use plain npm ci (workspace-aware) for stability
  .github/workflows/ci.yml
  package-lock.json
Due: prettier --write

ci: also install app deps (npm ci --prefix apps/website)
  .github/workflows/ci.yml
Due: none

ci: workspace install; Node 22.x; website-only build/test; deterministic lockfile
  .github/workflows/ci.yml
  apps/website/package.json
  package-lock.json
  package.json
Due: prettier --write

tsconfig(website): own @ alias (local-first + explicit fallback); ensure Section exists
  apps/website/tsconfig.json
Due: prettier --write

fix(website): restore Next app conventions (app/globals.css), resolvable '@/components/Nav', and top-level route exports
  apps/website/app/globals.css
  apps/website/app/pricing/page.tsx
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

chore(ci+ts): parent-as-root workspace; app-owned Next+@ alias; top-level page flags; deterministic CI
  .github/workflows/ci.yml
  apps/website/app/pricing/page.tsx
  apps/website/tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

build(app): single-source globals.css + Nav; normalize layout import
  .github/workflows/ci.yml.bak
  apps/website/components/Nav.tsx
  apps/website/package-lock.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

fix(pricing): valid JSX + top-level Next flags; untrack node_modules
  .gitignore
  apps/website/app/pricing/page.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

build: enforce single workspace install; CJS build configs; canonical globals.css; stable @ alias
  apps/website/tsconfig.json
Due: prettier --write

ci: lock Node to 22.x for guaranteed green builds
  .github/workflows/ci.yml
Due: none

build: app-local @ alias; remove root @; place lib/config under apps/website/src
  apps/website/lib/config.ts
  tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

build: Tailwind v4 PostCSS migration (use @tailwindcss/postcss; canonical .cjs configs)
  apps/website/app/globals.css
Due: prettier --write

chore: tidy helpers, ignore .bak files
  .gitignore
  apps/website/package.json
  package-lock.json
  package.json
Due: prettier --write

ci: fix duplicate cache key; Node 22 + workspace build
  .github/workflows/ci.yml
Due: none

ci: Node 22.x + workspace install/build
  .github/workflows/ci.yml
Due: none

build: single root lockfile; ignore nested locks; pin outputFileTracingRoot
  .gitignore
Due: none

ci: Node 22 + workspace install/build; push/PR/dispatch triggers
  .github/workflows/ci.yml
Due: none

ci: quote step name containing colon (YAML parse fix)
  .github/workflows/ci.yml
Due: none

ci: remove ping probe
  .github/workflows/ci-ping.yml
Due: none

feat(website): add Home and Contact pages
  apps/website/app/contact/page.tsx
  apps/website/app/page.tsx
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

ci: Node 22, single npm cache; root workspace install; website build
  .github/workflows/ci.yml
Due: none

ci: add minimal ping probe
  .github/workflows/ci-ping.yml
Due: none

ci: workflow_dispatch + Node 22 + workspace install/build
  .github/workflows/ci.yml
Due: none

ci: app-local install/build; explicit permissions; concurrency; artifact
  .github/workflows/ci.yml
Due: none

chore(ci): finalize guardrails + husky modernization
  .github/workflows/quality.yml
  .husky/pre-commit
  .husky/pre-push
  apps/website/.eslintcache
  apps/website/app/abando/page.tsx
  apps/website/app/components/Hero.tsx
  apps/website/app/components/Navbar.tsx
  apps/website/app/contact/page.tsx
  apps/website/app/globals.css
  apps/website/app/layout.tsx
  apps/website/app/page.tsx
  apps/website/app/services/page.tsx
  apps/website/eslint.config.js
  apps/website/package.json
  apps/website/scripts/guard-headers.sh
  apps/website/tests/setup.ts
  apps/website/tests/smoke.test.tsx
  apps/website/tsconfig.json
  apps/website/vitest.config.ts
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

fix(eslint): add Next detector export to satisfy Next.js plugin check
  apps/website/eslint.config.js
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix

chore(ci): finalize doctor verification and guardrail health
  apps/website/.eslintcache
  apps/website/app/abando/page.tsx
  apps/website/app/components/Hero.tsx
  apps/website/app/components/Navbar.tsx
  apps/website/app/layout.tsx
  apps/website/components/Pricing.tsx
  apps/website/eslint.config.js
  apps/website/package.json
  apps/website/tests/setup.ts
  apps/website/tests/smoke.test.tsx
  apps/website/vitest.config.ts
  eslint.config.js
  package-lock.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

chore: ESLint stable + test/build green; prepare launch
  apps/website/.eslintcache
  apps/website/app/components/Navbar.tsx
  apps/website/app/globals.css
  apps/website/eslint.config.js
  apps/website/scripts/guard-headers.sh
  eslint.config.js
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

feat: launch-ready website
  .husky/pre-commit
  .husky/pre-push
  apps/website/.env.example
  apps/website/.eslintcache
  apps/website/app/analytics/Analytics.tsx
  apps/website/app/layout.tsx
  package.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

fix(website): align tsconfig for Next (Bundler, jsx preserve, vitest types) + robust @ alias; add Section + lib/config
  .github/workflows/ci.yml
  .github/workflows/quality.yml
  apps/website/apps/website/tsconfig.json
  apps/website/lib/config.ts
  apps/website/tsconfig.json
  tsconfig.json
Due: eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix, prettier --write

Path conditions:
  eslint --config apps/website/eslint.config.js --cache --cache-location apps/website/.eslintcache --fix: any of: apps/website/**/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{json,md,css}
